<div class="home-container">
        <ms-sidenav></ms-sidenav>



    <div class="left-main">
            <mat-toolbar>
                    <mat-toolbar-row>
                        <span class="spacer"></span>
                        <span class="email-display">{{(auth.currentUser | async)?.email}}</span>
                        <mat-icon aria-hidden="false" title="Sign out" (click)="signOut()" aria-label="Sign out">exit_to_app</mat-icon>
                    </mat-toolbar-row>
            
                </mat-toolbar>
                <div class="page-content">
                        <router-outlet></router-outlet>
                </div>
    </div>




</div>