@import "../../../assets/css/constants.scss";

.login-container{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-card{
        height: 320px;
        width: 295px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        mat-card-header .mat-card-header-text{
            margin: 0;
        }
        mat-form-field{
            width:100%;
        }
        .mat-card-actions{
            display:flex;
            flex-direction: column;
            justify-content: center;
            button{
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .login-btn-spinner::ng-deep circle{
                stroke: $ms-white !important;
            }

            mat-error{
                text-align: center;
                padding: 4px 0;
            }
        }
    }

}

