.wizard-container{
    height: 100%;
    padding: 0;
    .mat-form-field-type-mat-chip-list{
        width:100%;
        .mat-chip.mat-standard-chip{
            min-height: 25px;
            font-size: 13px;
        }
    }
    .spacer{
        flex: 1 1 auto;
    }
    .mat-card-actions{
        display: flex;
    }

    .example-right-align {
        text-align: right;
      }
      
      input.example-right-align::-webkit-outer-spin-button,
      input.example-right-align::-webkit-inner-spin-button {
        display: none;
      }
      
      input.example-right-align {
        -moz-appearance: textfield;
      }
}